.contact .banner {
    background: linear-gradient(var(--color-hover-overlay), var(--color-hover-overlay)),
                url('../../img/banner4.png') no-repeat center center / cover;
}

.wrap-contact {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 73px;
  gap: 4rem;
}

.wrap-contact section {
  padding-block: 2rem;
  flex-grow: 1;
}

form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.form-title, .contact-title {
  font-size: var(--font-subtitle2-size);
  font-weight: var(--font-subtitle2-weight);
  font-family: var(--font-subtitle2-family);
  line-height: var(--font-subtitle2-line-height);
}

.form-title {
  color: var(--color-text-title-primary);
}

.form-title-row, .form-submit, .form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}


.form-row .form-group, .form-submit  {
  flex: 1;
  min-height: 75px;
}

.form-label {
  font-family: var(--font-button-family);
  font-size: var(--font-button-size);
  font-weight: var(--font-button-weight);
  line-height: var(--font-button-line-height);
  color: var(--color-text-dark);
}

.form-input, .form-select, .form-textarea, .form-radio-group {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--color-border);
  border-radius: var(--button-border-radius);
  font-family: var(--font-body2-family);
  font-size: var(--font-body2-size);
  font-weight: var(--font-body2-weight);
  line-height: var(--font-body2-line-height);
  color: var(--color-text-dark);
}

.form-radio-group {
  display: flex;
  gap: 16px;
  border-bottom: 1px solid var(--color-border);
}

.form-radio, .form-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-info {
  background: var(--gradient-primary);
  color: var(--color-text-light);
  flex: 0 0 30%;
}

.contact-info .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.contact-info-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-info-item i {
  font-size: 30px;
  margin-right: 16px;
}

@media (max-width: 1140px) {
 .wrap-contact{
  display: block;
  padding-inline: 0;
 }
 .wrap-form {
  padding-inline: 25px;
 }
 .contact-info{
  width: 100%;
 }
 .contact-info .container{
  max-width: none;
  min-height: 300px;
  width: 480px;
 }
 #contact-from > div.form-row.form-title-row {
  display: flex;
 }
}

@media (max-width: 670px) {
  .form-row, .form-submit {
    display: block;
  }
  .form-group{
    margin-top: 30px;
  }
  .form-submit {
    text-align: center;
  }
  .form-submit button {
    margin: 40px;
  }
}

