.about .banner {
    background: linear-gradient(var(--color-hover-overlay), var(--color-hover-overlay)),
                url('../../img/banner3.png') no-repeat center center / cover;
}

/* SECTION TEAM */
.team-section {
  padding-block: 3rem;
  background-color: var(--color-background-primary);
}

.team-section h1 {
  color: var(--color-text-title-secondary);
}

.team-section p {
  color: var(--color-text-title-secondary);
  margin-bottom: 3rem;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.team-member {
  position: relative;
  border-radius: var(--button-border-radius);
  overflow: hidden;
}

.member-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.member-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-hover-overlay);
  padding: 1.5rem;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.member-overlay h3 {
  font-size: var(--font-subtitle2-size);
  font-weight: var(--font-subtitle2-weight);
  font-family: var(--font-subtitle2-family);
  line-height: var(--font-subtitle2-line-height);
  margin: 0 0 0.5rem 0;
  color: var(--color-text-light);
}

.member-overlay p {
  margin: 0;
  color: var(--color-text-light);
}

.team-member:hover .member-overlay {
  transform: translateY(0);
}

.team-member:hover .member-image {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .team-grid {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 0 auto;
  }

  .team-section {
    padding: 3rem 1rem;
  }

  .team-section h1 {
    font-size: var(--font-title-size-mobile);
    text-align: center;
  }

  .team-section p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

/* SECTION MVV */

.mvv-section {
  min-height: 425px;
  display: flex;
  align-items: center;
  background-color: var(--color-background-secondary);
}

.mvv-section .container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.mvv-item {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.mvv-item>div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.mvv-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.mvv-item h2 {
  color: var(--color-text-title-secondary);
  margin: 0;
}

.mvv-item p {
  max-width: 330px;
}

@media (max-width: 1020px) {
  .mvv-section .container {
    flex-direction: column;
    gap: 3rem;
  }

  .mvv-section {
    padding-block: 3rem;
  }
}