.features {
    background: var(--gradient-primary);
}

.features .container {
    
}

.features .title {
    color: var(--color-text-title-primary);
    text-align: center;
    padding-block: 60px;
}

.features-content {
    display: flex;
    justify-content: space-between;
    /* gap: 80px; */
    align-items: center;
}

.features-item {
    display: flex;
    gap: 24px;
    align-items: center;
    color: var(--color-text-light);
    max-width: 330px;
    margin-bottom: 40px;
}

.img-phone {
    margin-bottom: -4px;
}

/* media query 1080px */

@media (max-width: 1080px) {
    .features-content {
        flex-direction: column;
    }

    .features-content > div:nth-child(1) {
        order: 1;
    }
    .features-content > div:nth-child(2) {
        order: 3;
    }
    .features-content > div:nth-child(3) {
        order: 2;
    }

    .features-item {
        margin-bottom: 70px;
    }

    .img-phone {
        margin-top: 50px;
    }
}
