/* CTA 1 - ABOUT */

.cta {
    padding-block: 170px;
    background-color: var(--color-background-secondary);
}

.cta-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.cta-content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 1.5rem;
}

.cta-subtitle {
    color: var(--color-text-title-secondary);
    margin-bottom: -15px;
}

.cta-title {
    color: var(--color-text-title-primary);
}

.cta-image {
    width: 100%;
    height: auto;
    max-width: 500px;
    margin: 0 auto;
}

.cta-about .cta-image {
    order: 1;
    margin-bottom: 60px;
}

.cta-about .cta-content {
    order: -1;
}

.cta-about .btn {
    max-width: 170px;
}

@media (min-width: 1060px) {
    .cta-contact .cta-image {
        margin: 0;
    }
}




@media (max-width: 1060px) {
    .cta {
        padding-block: 70px;
    }
    .cta-container {
        flex-direction: column;
    }

    .cta-about .cta-image {
        order: -1;
        margin-bottom: 60px;
    }

    .cta-about .cta-content {
        order: 1;
    }
}