:root {
    /* Cores principais */
    --color-primary: #ff8e6e; /* Principal, usada em botões e títulos */
    --color-secondary: #515070; /* Secundária, usada em botões e títulos */
    --color-background-primary: #ffffff; /* Usado em header, footer e cards */
    --color-background-secondary: #f6f6f6; /* Usado em seções gerais */
    --color-text-dark: #898989; /* Texto principal em fundos claros */
    --color-text-light: #ffffff; /* Texto em fundos escuros ou imagens */
    --color-text-title-primary: #ff8e6e; /* Cor dos títulos principais, destaque */
    --color-text-title-secondary: #515070; /* Cor dos títulos secundários, neutro */
    --color-border: #d7d7d7; /* Cor de bordas */
    --color-hover-button-primary: #ff6a4d;
    --color-hover-button-secondary: #3b3b54;
    --color-hover-overlay: #51507095; /* Overlay ao passar o mouse */
    --color-shadow: #001D6924;
    
    /* Gradientes */
    --gradient-primary: linear-gradient(90deg, #515070, #6B69B0); 

    /* Botões */
    --button-border-radius: 4px;

    /* Tipografia */
    --font-size-base: 14px;
    --font-family-primary: 'Montserrat', sans-serif;
    --font-family-secondary: 'Open Sans', sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Navbar, Header e Footer */
    --font-navbar-family: 'Montserrat', sans-serif; /* Fonte para navbar, header e footer */
    --font-navbar-weight: 400; /* Peso da fonte */
    --font-navbar-size: 14px; /* Tamanho da fonte */
    --font-navbar-line-height: 17px; /* Altura da linha */

    /* Título Principal */
    --font-title-family: 'Montserrat', sans-serif; /* Fonte para títulos principais */
    --font-title-weight: 700; /* Peso da fonte */
    --font-title-size: 48px; /* Tamanho da fonte */
    --font-title-line-height: 58.5px; /* Altura da linha */

    --font-title-size-mobile: 38px; /* Tamanho da fonteno mobile */
    --font-title-line-height-mobile: 46px; /* Altura da linha */

    /* Subtítulo */
    --font-subtitle-family: 'Open Sans', sans-serif; /* Fonte para subtítulos */
    --font-subtitle-weight: 400; /* Peso da fonte */
    --font-subtitle-size: 18px; /* Tamanho da fonte */
    --font-subtitle-line-height: 24.5px; /* Altura da linha */

    /* Texto de Botões */
    --font-button-family: 'Montserrat', sans-serif; /* Fonte para botões */
    --font-button-weight: 700; /* Peso da fonte */
    --font-button-size: 14px; /* Tamanho da fonte */
    --font-button-line-height: 17px; /* Altura da linha */
    --font-button-transform: uppercase; /* Transformação do texto */

    /* Corpo do Texto */
    --font-body-family: 'Open Sans', sans-serif; /* Fonte para corpo de texto */
    --font-body-weight: 400; /* Peso da fonte */
    --font-body-size: 14px; /* Tamanho da fonte */
    --font-body-line-height: 29px; /* Altura da linha */

    /* Subtítulo Secundário */
    --font-subtitle2-family: 'Montserrat', sans-serif; /* Fonte para subtítulos secundários */
    --font-subtitle2-weight: 700; /* Peso da fonte */
    --font-subtitle2-size: 18px; /* Tamanho da fonte */
    --font-subtitle2-line-height: 22px; /* Altura da linha */

    /* Corpo do Texto Secundário */
    --font-body2-family: 'Open Sans', sans-serif; /* Fonte para corpo de texto secundário */
    --font-body2-weight: 400; /* Peso da fonte */
    --font-body2-size: 14px; /* Tamanho da fonte */
    --font-body2-line-height: 22px; /* Altura da linha */

    /* Texto Pequeno */
    --font-small-family: 'Montserrat', sans-serif; /* Fonte para textos pequenos */
    --font-small-weight: 400; /* Peso da fonte */
    --font-small-size: 12px; /* Tamanho da fonte */
    --font-small-line-height: 14.5px; /* Altura da linha */

    /* Rótulos */
    --font-label-family: 'Montserrat', sans-serif; /* Fonte para rótulos */
    --font-label-weight: 700; /* Peso da fonte */
    --font-label-size: 14px; /* Tamanho da fonte */
    --font-label-line-height: 17px; /* Altura da linha */
}


.title {
    font-family: var(--font-title-family);
    font-size: var(--font-title-size);
    font-weight: var(--font-title-weight);
    line-height: var(--font-title-line-height); 
}


.subtitle {
    font-family: var(--font-subtitle-family);
    font-size: var(--font-subtitle-size);
    font-weight: var(--font-subtitle-weight);
    line-height: var(--font-subtitle-line-height);
}

.text {
    font-family: var(--font-body-family);
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight);
    line-height: var(--font-body-line-height);
}

.btn {
    display: inline-flex;
    align-items: center;
    max-width: 200px;
    max-height: 45px;
    gap: 0.5rem;
    padding: 0.875rem 2rem;
    color: var(--color-text-light);
    text-decoration: none;
    border-radius: var(--button-border-radius);
    font-family: var(--font-button-family);
    font-size: var(--font-button-size);
    font-weight: var(--font-button-weight);
    line-height: var(--font-button-line-height);
    text-transform: var(--font-button-transform);
    transition: background-color 0.3s;
}

.cta-button-primary {
    background-color: var(--color-primary);
}

.cta-button-primary:hover {
    background-color: var(--color-hover-button-primary);
}

.cta-button-secondary {
    background-color: var(--color-secondary);
    box-shadow: 0px 4px 6px var(--color-shadow);

}

.cta-button-secondary:hover {
    background-color: var(--color-hover-button-secondary);
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 73px;
}

@media (max-width: 768px) {
    .container {
        padding-inline: 25px;
    }
}


/* Estilizar a barra de rolagem para navegadores com suporte a Webkit */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-background-secondary);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 6px;
    border: 3px solid var(--color-background-secondary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-secondary);
}


